<!DOCTYPE html>
<html lang="{{{ language }}}">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="EntE | Digital Excuse Workflow for Schools">
    <meta name="author" content="Simon Knott">

    <title>{{{ title }}}</title>

    <!-- FavIcon -->
    <link rel="shortcut icon" href="../assets/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon-16x16.png">

    <!-- Bootstrap core CSS -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../node_modules/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../scss/landing-page.scss" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="../assets/EntE-Logo.svg">
          EntE
        </a>

        <span>
          <a class="btn" href="https://skn0tt.gitlab.io/EntE/docs/"><i class="fa fa-file fa-fw"></i> Docs</a>
          <a class="btn btn-primary" href="https://gitlab.com/Skn0tt/EntE"><i class="fa fa-gitlab fa-fw"></i> GitLab</a>
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{languagePicker.title}}
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="/en">{{languagePicker.english}}</a>
              <a class="dropdown-item" href="/de">{{languagePicker.german}}</a>
            </div>
          </div>
        </span>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1>{{{hero.title}}}</h1>
            <h2 class="mb-5">{{{hero.caption}}}</h2>
          </div>
          <div class="col-md-5 col-sm-8 mx-auto">
            <button class="btn btn-block btn-primary" id="btn_tryDemo">{{{hero.tryDemo}}}</button>
          </div>
        </div>
      </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-clock m-auto text-primary"></i>
              </div>
              <h3>{{{savesTime.title}}}</h3>
              <p class="lead mb-0">{{{savesTime.caption}}}</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-people m-auto text-primary"></i>
              </div>
              <h3>{{{easyUse.title}}}</h3>
              <p class="lead mb-0">{{{easyUse.caption}}}</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-book-open m-auto text-primary"></i>
              </div>
              <h3>{{{openSource.title}}}</h3>
              <p class="lead mb-0">{{{openSource.caption}}}</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img bg-teacher"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>{{{digitize.title}}}</h2>
            <p class="lead mb-0">
              {{{digitize.caption}}}
            </p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img bg-server"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>{{{hosting.title}}}</h2>
            <p class="lead mb-0">
              {{{hosting.caption}}}
            </p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img bg-statistics"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>{{{statistics.title}}}</h2>
            <p class="lead mb-0">
              {{{statistics.caption}}}
            </p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img bg-code"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>{{{contribute.title}}}</h2>
            <p class="lead mb-0">
              {{{contribute.caption}}}
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">{{{callToAction.title}}}</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form action="https://formspree.io/ente@simonknott.de" method="POST">
              <div class="form-row">
                <input type="hidden" name="_subject" value="Schedule a demo">
                <div class="col-12 col-md-8 mb-2 mb-md-0">
                  <input type="email" class="form-control form-control-lg" placeholder="{{{callToAction.emailHint}}}" name="email">
                </div>
                <div class="col-12 col-md-4">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">{{{callToAction.scheduleDemo}}}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="https://simonknott.de">simonknott.de</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="mailto:ente@simonknott.de">{{{footer.contact}}}</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="mailto:ente-servicedesk@simonknott.de">Service Desk</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; Simon Knott 2018. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="https://gitlab.com/skn0tt/EntE">
                  <i class="fa fa-gitlab fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
      const title = "{{{demoPopup.title}}}";
      const text = `{{{demoPopup.text}}}`.trim();

      const content = document.createElement("p");
      content.innerHTML = text;

      const handleTryDemo = () => {
        swal({
          title,
          content,
          buttons: {
            cancel: {
              text: "{{demoPopup.cancel}}",
              visible: true
            },
            go: {
              text: "{{demoPopup.goTo}}",
              visible: true
            }
          }
        }).then(val => {
          if (val === "go") {
            window.open("https://bull.ente.app");
          }
        });
      };

      document.getElementById("btn_tryDemo").addEventListener("click", handleTryDemo);
    </script>

  </body>

</html>
